<body>
<form class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Sign Up </legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Company Name">Company Name</label>  
    <div class="col-md-6">
    <input id="Company Name" name="Company Name" type="text" placeholder="Company Name" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Address">Address</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="Address" name="Address">Address</textarea>
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="User Name">User Name</label>  
    <div class="col-md-6">
    <input id="User Name" name="User Name" type="text" placeholder="User Name" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="User Id">User Id</label>  
    <div class="col-md-6">
    <input id="User Id" name="User Id" type="text" placeholder="User Id" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Mail Id ">Mail Id </label>  
    <div class="col-md-6">
    <input id="Mail Id " name="Mail Id " type="text" placeholder="Mail Id " class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Password">Password</label>
    <div class="col-md-6">
      <input id="Password" name="Password" type="password" placeholder="Password" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Password Again">Re enter Password</label>
    <div class="col-md-6">
      <input id="Password Again" name="Password Again" type="password" placeholder="Re enter Password" class="form-control input-md" required="">
      
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for=""></label>
    <div class="col-md-4">
      <button id="" name="" class="btn btn-success" routerLink="/app-movie">Submit</button>
    </div>
  </div>
  
  </fieldset>
  </form>